
.languagesContainer {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  padding: 3rem 4rem;
  font-size: 1.4rem;
  color: white;
}

.languagesContainer button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  color: white;
  transition: color 0.4s;
}

.languagesContainer button.selected {
  color: var(--color-light-yellow);
}

.languagesContainer button:active, 
.languagesContainer button:focus, 
.languagesContainer button:hover  {
  color: var(--color-light-yellow);
}

.languagesContainer span {
  margin: 0 1rem;
}
