/* Skill */
p.skill {
  background: var(--color-dark-blue);
  padding: 0.2rem 1rem;
  margin: 0.5rem 0.4rem 0.5rem 0;
  border-radius: 2px;
}

/* Skills */
div.category {
  background: var(--color-dark-blue-2);
  border: 2px solid var(--color-blue-transparent);
  border-radius: 8px;
  width: 49%; 
  margin: 0.5rem 0.4rem 0.5rem 0;
  padding: 0.2rem 1.4rem;
}

div.category h3 {
  font-size: 1.4rem;
  margin: 0.5rem 0;
}

div.list {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 800px) {
  div.category {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  p.skill {
    padding: 0.2rem 0.2rem;
    margin: 0.2rem 0.4rem 0.2rem 0;
    font-size: 0.7rem;
  }
  div.category h3 {
    font-size: 0.8rem;
    margin: 0.5rem 0;
  }
}

@media (min-height: 0px) and (max-height: 550px)    {
  p.skill {
    padding: 0.2rem 0.2rem;
    margin: 0.2rem 0.4rem 0.2rem 0;
    font-size: 0.7rem;
  }
  div.category h3 {
    font-size: 0.8rem;
    margin: 0.5rem 0;
  }
} 