:root {
  --color-dark-blue: #022A36;
  --color-dark-blue-2: #29a5cd4a;
  --color-blue: #0A5871;
  --color-light-blue: #50B7D8;
  --color-blue-transparent: #175d73;
  --color-light-orange: #f8ccb9;
  --color-orange: #f88352;
  --color-yellow: #ffda44;
  --color-light-yellow: #e0cc7b;
  --color-green: #22624e;
  --color-dark-green: #16332a;
  --color-light-green: #5c913b;
  --color-dark-red: #750000;
}

html,
body {
  background-color: var(--color-dark-blue);
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

section {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 2rem 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
