div.container {
  width: 100%;
  height: 100%;
}

main.main {
}

/* Presentation */
div.presentationTextContainer {
  padding: 0rem 8rem;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

div.presentationTextContainer h1 {
  color: white;
  font-size: 48px;
}

div.presentationTextContainer p {
  color: white;
  font-size: 36px;
  margin: 0;
}

div.imgSateliteContainer {
  margin-left: 70%;
}

@media (max-width: 600px) {
  div.presentationTextContainer {
    padding: 0rem 4rem;
  }
}
