div.container {
  width: 100%;
  height: 100%;
}

div.imgSateliteContainer {
  margin-left: 85%;
}

div.imgMarsContainer {
  margin-left: 5%;
}

div.imgCometContainer {
  margin-left: 60%;
}

div.imgMoonContainer {
  margin-left: 15%;
  opacity: 0.5;
}

div.imgEarthContainer {
  padding-top: 20%;
  display: flex;
  align-items: center;
  justify-content: center;  
  position: relative;
  width: 100%;
  height: 100vh;
}

div.imgCthulhuContainer {
  margin-left: 30%;
}
  
@media (max-width: 750px) {
  div.imgCthulhuContainer {
    display: none;
  }
}

@media (max-width: 600px) {
  div.imgCometContainer {
    margin-left: 70%;
  }
  div.imgSpaceshipContainer {
    margin-left: 65%;
  }
}

@media (min-width: 2000px) {
  div.imgCthulhuContainer {
    margin-left: 40%
  }
}